* {
  margin: 0;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Roboto;
  color: #4a4a4a;
}

html {
  font-size: 16px;
}

/* Header */

.desktop {
  display: grid;
  grid-template-columns: 1fr 8fr;
  align-items: center;
  height: 85px;
}

/* Fotomatic Logo */
.logo {
  font-size: 1.5em;
  text-decoration: none;
  margin: 0 2rem;
}

/* Instagram Icon */
.icon {
  width: 1rem;
}

nav ul {
  float: right;
  margin-right: 2rem;
}

nav ul li {
  display: inline-block;
  line-height: 1.6;
  padding: 3px 8px;
  margin: 5px;
}

nav ul li a {
  text-decoration: none;
}

/* Nav Button */

.nav-button {
  background: #9dc20b;
  border-radius: 4px;
  padding: 3px 8px;
  display: none;
}

.nav-button a {
  color: #fff;
}

.mobile {
  height: 48px;
  display: none;
}

/* Header Media Queries */

/* Tablet sizes */
@media only screen and (max-width: 768px) {
  .nav-button {
    display: inline-block;
  }
}

/* Cell sizes */
@media only screen and (max-width: 663px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }

  .logo {
    margin: 0;
    padding: 0;
  }

  nav {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
  }

  nav ul {
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
  }
}

/* Main */

/* Sign-up Section */

/* Features Section*/

/* Filter Section */

/* Quotes Section */

.quotes-section {
  border: 1px solid black;
  background: #f3f3f3;
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.quote p {
  font-size: 30px;
  font-family: "Palatino", serif;
  font-style: italic;
  padding: 8rem 30px;
  text-align: end;
}

.quote-logo img {
  padding: 8rem 0;
}

@media only screen and (max-width: 768px) {
  .quote p {
    font-size: 27px;
    text-align: left;
  }
}

@media only screen and (max-width: 425px) {
  .quotes-section {
    border: 1px solid black;
    display: grid;
    grid-template-rows: 145px 80px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
  }

  .quote p {
    font-size: 24px;
    text-align: center;
    padding: 30px;
  }

  .quote-logo {
    display: grid;
    justify-items: center;
    padding-bottom: 20px;
  }

  .quote-logo img {
    display: grid;
    padding: 0;
    align-self: center;
    margin: 0;
  }
}

/* Footer */

footer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  background: #9b9b9b;
  height: 62px;
}

.copyright {
  justify-self: left;
  margin-left: 2rem;
  color: #fff;
  font-size: 12px;
}

.location {
  justify-self: right;
  margin-right: 2rem;
  color: #fff;
  font-size: 12px;
}

@media only screen and (max-width: 425px) {
  .copyright {
    font-size: 10px;
    margin-left: 1rem;
  }
  .location {
    font-size: 10px;
    margin-right: 1rem;
  }
}
